<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  {{- $scss := resources.Get "scss/main.scss" -}}
  {{- $style := $scss | resources.ToCSS -}}

  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
